body{
    font-family: 'Montserrat', sans-serif;}

.bShadow{
    border-radius: 10px;
    /* filter: drop-shadow( 0px 0px 10px #c5859f46) */
    box-shadow:4px 4px 8px 0px rgb(248, 219, 230),-4px -4px 8px 0px rgba(255, 255, 255, 0.6);

}

.cardProduct{
    background-color: #ffeaf0;
    height: 380px;
}

.cardLoading{
  height: 380px;
  border-radius: 10px;
}


.cardCategory{
    background-color: #ffeaf0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgProd{
    width: 300px;
    height: 300px;
}
.cardProd{
    min-height: 402px;
    background-color: #ffeaf0;
    border: none;
    box-shadow:inset 6px 6px 12px 0px rgb(248, 219, 230),inset -6px -6px 12px 0px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.btnCo{
    background-color: rgb(99, 155, 198);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.409);
    color: white;
    font-weight: 500;
    width: 200px;
}

.btnWl{
    background-color: rgb(73, 155, 62);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.409);
    color: white;
    font-weight: 500;
    width: 240px;


}

.prodBrand{
    box-shadow:4px 4px 8px 0px rgb(248, 219, 230),-4px -4px 8px 0px rgba(255, 255, 255, 0.6);
    padding: 4px;
    border-radius: 5px;
    color: #CF4476;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 6px;
}

.prodDes{
    overflow: auto;
    max-height: 125px;
    font-size: 12px;

}
.prodDes::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
  }
  
  .prodDes::-webkit-scrollbar-thumb {
    background-color: #CF4476;
    border-radius: 5px;

  }
  
  .prodDes::-webkit-scrollbar-thumb:hover {
    background-color: #F5F5F5;
  }

  .cartCard{
    background-color: transparent;
    border: none;
    box-shadow:4px 4px 8px 0px rgb(248, 219, 230),-4px -4px 8px 0px rgba(255, 255, 255, 0.6);
    height: 165px;

  }

  .cartProdImg{
    width: 100%;
    max-width: 120px;
    border-radius: 10px;
  }

  .cartDes{
    border:none;
    border-radius: 5px;
    box-shadow:inset 2px 2px 4px 0px rgb(248, 219, 230),inset -2px -2px 4px 0px rgba(255, 255, 255, 0.6);
    background-color: transparent;
    outline: none;
    font-size: 12px;
    width: 200px;
    height: 30px;
  }

  .cartDes::placeholder{
    opacity: 40%;
    font-size: 12px;

  }

  .btnOrder{
    background-color: rgb(207, 103, 149);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.409);
    color: white;
    font-weight: 500;
    width: 200px;

  }

  .btnCout{
    background-color: rgb(69, 191, 157);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 500;
  }

  .btnCout:hover{
    background-color: #e0c7d0 !important;
  }


  @media screen and (max-width: 767px) {
    .cartCard{
        background-color: transparent;
        border: none;
        box-shadow:4px 4px 8px 0px rgb(248, 219, 230),-4px -4px 8px 0px rgba(255, 255, 255, 0.6);
        height: 400px;
    
      }
    .colM{
        margin-top: 15px;
        display: block !important;
    }
    .rQytDel{
        margin: 0 !important;
    }
    .btnOrder{
        height: 30px;
    }
    .checkBoxCart{
        float: right;
        width: 30px;
        height: 30px;
    }
    }

    @media screen and (min-width: 767px) {
        
        .checkBoxCart{
            display: none;
        }
    }
    
    .nav-link{
      color: #CF4476;
    }
    .navbar-nav .nav-link.active{
      color: #CF4476;
      font-weight: 600;
    }

    .navbar{
      box-shadow:0px 4px 8px 0px rgba(207, 142, 167, 0.3);
      backdrop-filter: blur(10px);
      background-color: #ffffff1a;
    }
    .navbar-brand{
      font-weight: 600;
      color: #CF4476;

    }

    .newsP{
      height: 200px;
      border-radius: 10px;

    }

    .swipP{
      width: 200px !important;
    }

    .newI{
      width: 100%;
      border-radius: 10px;
    }
    .inputCa{
      box-shadow:inset 6px 6px 12px 0px rgba(248, 199, 218, 0.674),inset -6px -6px 12px 0px rgba(255, 255, 255, 0.891);
      border: none;
      background-color: transparent;
      outline: none;
    }

    .inputCa::placeholder{
      opacity: 60%;
      font-size: 14px;
  
    }

    .cardR{
      background-color: transparent;
      box-shadow:20px 20px 40px 0px rgba(255, 207, 225, 0.77),-15px -15px 30px 0px rgba(255, 255, 255, 0.882);
      border: none;
    }

    .btnCacc{
      background-color: #CF4476;
      border: none;
      width: 200px;
    }

    .bauth{
      width: 100%;
      border: none;
      box-shadow:6px 6px 12px 0px rgba(255, 190, 215, 0.374),-6px -6px 12px 0px rgb(255, 255, 255);
      font-weight: 500;
    }

    .btnShopNow{
      min-width: 150px;
      border: none;
      box-shadow:6px 6px 12px 0px rgba(255, 190, 215, 0.5),-6px -6px 12px 0px rgb(255, 255, 255);
      font-weight: 500;
      color: #CF4476;
      font-size: 16px;
      background-color: #CF4476;
      color: white;

    }

    .cardLogin{
      background-color: transparent;
      box-shadow:20px 20px 40px 0px rgba(255, 207, 225, 0.77),-15px -15px 30px 0px rgb(255, 255, 255);
      border: none;
    }

    .swiper-free-mode>.swiper-wrapper {
      padding-left: -10px;
    }

    .gridCardP{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;

    }

    @media screen and (max-width: 1399px) {
      .cardProduct{
        height: 350px;
      }

    }

    @media screen and (max-width: 1198px) {
      .cardProduct{
        height: 310px;
      }

    }


    @media screen and (max-width: 991px) {
      .gridCardP {
        grid-template-columns: repeat(4, 1fr);
      }
      .cardProduct{
        height: 300px;
      }

    }
    
    @media screen and (max-width: 768px) {
      .gridCardP {
        grid-template-columns: repeat(3, 1fr);
      }
      .cardProduct{
        height: 300px;
      }

    }
    
    @media screen and (max-width: 500px) {
      .gridCardP {
        grid-template-columns: repeat(2, 1fr);
      }
      .cardProduct{
        height: 300px;
    }
    
    }

    @media screen and (max-width: 420px) {
      .gridCardP {
        grid-template-columns: repeat(2, 1fr);
      }
      .cardProduct{
        height: 320px;
    }
    
    }

    @media screen and (max-width: 375px) {
      .gridCardP {
        grid-template-columns: repeat(2, 1fr);
      }
      .cardProduct{
        height: 300px;
    }
    
    }



    @media screen and (max-width: 320px) {
      .gridCardP {
        grid-template-columns: repeat(1, 1fr);
      }
      .cardProduct{
        height: 390px;
    }
    
    }

    .inputSearch{
      box-shadow:inset 3px 3px 8px 0px rgba(227, 169, 191, 0.4),inset -3px -3px 6px 0px rgba(255, 255, 255, 0.867);
      background-color: transparent;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 12px;
      padding: 6px;
      height: 30px;
      width: 100%;
      max-width: 300px;

    }

    .aboutTitle{
      color: #CF4476;
      font-weight: 600;
      font-size: 40px;

    }

    .aboutDes{
      color: #CF4476;
      font-size: 18px;
    }

    .AboutContent{
      width: 100%;
      max-width: 500px;
    }

    .aboutContainer{
      max-width:500px ;
    }

    .swiperHomeContent{
      width: 100%;
      max-width: 350px;
    }

    .swiper-slide{
      background-color: #f2e3e7;
    }

    .swiper-cube-shadow::before{
      background: rgba(0, 0, 0, 0.5) !important;
    }




